@model CustomerViewModel
@{
    ViewData["Title"] = "Cập nhật thông tin cá nhân";
    Layout = "_ecomLayout";
}

<div class="services_section layout_padding">
    <div class="container">
<div class="page-header">
    <h3 class="font-weight-bold mb-3">Cập nhật thông tin cá nhân</h3>
    <ul class="breadcrumb mb-3">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Customer" asp-action="ViewProfile">Customers</a>
        </li>
                <li class="breadcrumb-item">
                    <span class="text-secondary">Customer</span>
                </li>
        <li class="breadcrumb-item active" aria-current="page">Update</li>
    </ul>
</div>

        <form asp-action="ViewProfile" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="CustomerID" type="hidden" class="form-control" id="CustomerID" name="CustomerID" value="@Model.CustomerID">
    <input asp-for="AccountID" type="hidden" value="@Model.AccountID" />
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" type="text" class="form-control" id="FirstName" name="FirstName" required>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" type="text" class="form-control" id="LastName" name="LastName" required>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" type="text" class="form-control" id="Address" name="Address" required>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
                <input asp-for="Email" type="text" class="form-control" readonly>
                <span asp-validation-for="Email" class="text-danger"></span>
    </div>

            <div class="form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" type="text" class="form-control" required>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
</form>
</div>
</div>