@model Application.DTOs.TourEmployeeDTOs.TourEmployeeCreationDto
@{
    ViewData["Title"] = "Thêm nhân viên vào tour";
}

<div class="page-header">
    <h3 class="fw-bold mb-3">Thêm Nhân Viên Tour</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a asp-area="Admin"
               asp-controller="Home"
               asp-action="Index">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-home">
            <a asp-area="Admin"
               asp-controller="Tour"
               asp-action="Index">
                Tours
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-home ">
            <a asp-area="Admin"
               asp-controller="TourEmployee"
               asp-action="Index">
                @Model.TourID
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-home active">
             Employee Create
        </li>
    </ul>
</div>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="TourID" value="@Model.TourID" />
    <div class="form-group">
        <label asp-for="EmployeeID">Chọn nhân viên:</label>
        <select asp-for="EmployeeID" class="form-select" asp-items="@ViewBag.EmployeeList" Required>
            <option value="">-- Chọn nhân viên --</option>
            
        </select>
        <span asp-validation-for="EmployeeID" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-area="Admin" asp-controller="TourEmployee" asp-action="Index" asp-route-TourID="@Model.TourID" class="btn btn-secondary">Hủy</a>
</form>
