@model Application.DTOs.TourDTOs.TourCreationDto
@{
    ViewData["Title"] = "Thêm tour mới";
}

<div class="page-header">
    <h3 class="fw-bold mb-3">Thêm Tour</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a asp-area="Admin"
               asp-controller="Home"
               asp-action="Index">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a asp-area="Admin"
               asp-controller="Tour"
               asp-action="Index">
                Tours
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item active">
            Create
        </li>
    </ul>
</div>

<form asp-action="Create" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mt-3">
        <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 300px; display: none; object-fit:cover">
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <input asp-for="Image" type="file" class="form-control" placeholder="Chọn hình ..." onchange="previewImage(event)">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" type="text" class="form-control" id="Title" name="Title" placeholder="Nhập tựa đề của tour ..." Required>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" type="text" class="form-control" id="Description" name="Description" placeholder="Nhập mô tả ..." Required>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" type="datetime-local" class="form-control" Required>
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" type="datetime-local" class="form-control"  required />
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" type="number" class="form-control" id="Price" name="Price" Required>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AvailableSeats"></label>
        <input asp-for="AvailableSeats" type="number" class="form-control" id="AvailableSeats" name="AvailableSeats"  Required>
        <span asp-validation-for="AvailableSeats" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Category" class="form-label"></label>
        <select asp-for="Category" class="form-select" id="Category" name="Category">
            <option value="" disabled selected>-- Chọn loại địa điểm --</option>
            <option value="Mountain">Núi</option>
            <option value="Beach">Biển</option>
            <option value="Cultural">Văn hóa</option>
            <option value="Historical">Lịch sử</option>
            <option value="EcoTourism">Sinh thái</option>
            <option value="Adventure">Mạo hiểm</option>
            <option value="Relaxation">Nghỉ dưỡng</option>
            <option value="CityTour">Thành phố</option>
            <option value="Festival">Lễ hội</option>
            <option value="Cruise">Du thuyền</option>
        </select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="City" class="form-label"></label>
        <select asp-for="City" class="form-control" id="City" name="City" required>
            <option value="" disabled selected>-- Chọn thành phố --</option>
            @if (ViewData["ListCity"] is List<Application.DTOs.LocationDto.CityViewModel> cities) // Kiểm tra đúng kiểu dữ liệu
            {
                foreach (var city in cities)
                {
                    <option value="@city.Name">@city.Name</option>
                }
            }
        </select>

        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-area="Admin" asp-controller="Tour" asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
@section script
{
    <script>
        function previewImage(event) {
            const input = event.target;
            const preview = document.getElementById('imagePreview');

            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                };

                reader.readAsDataURL(input.files[0]);
            } else {
                preview.src = '#';
                preview.style.display = 'none';
            }
        }
    </script>
}