@model LoginViewModel
@{
    ViewData["Title"] = "Trang Đăng nhập";
    Layout = "_ecomLayout";
}



<div class="services_section layout_padding">
    <div class="container">
        <h2>Đăng Nhập</h2>

        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Nhập Tên Đăng Nhập -->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <input type="text"
                           class="form-control"
                           placeholder="Tên đăng nhập"
                           asp-for="UserName"
                           id="UserName" name="UserName" required />
                </div>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <!-- Nhập Mật Khẩu -->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-key"></i>
                        </span>
                    </div>
                    <input type="password"
                           class="form-control"
                           placeholder="Mật khẩu"
                           asp-for="Password"
                           id="Password" name="Password" required />
                    <div class="input-group-append">
                        <span class="input-group-text toggle-password" data-target="#Password">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <!-- Ghi nhớ đăng nhập -->
            <div class="form-group form-check">
                <input asp-for="RememberMe" class="form-check-input" />
                <label class="form-check-label ml-2" asp-for="RememberMe">Ghi nhớ đăng nhập?</label>
            </div>

            <!-- Nút đăng nhập -->
            <button type="submit" class="btn btn-primary">Đăng Nhập</button>
        </form>

        <div>
            <a asp-action="Register" asp-controller="Account">Chưa có tài khoản? Đăng ký ngay</a>
        </div>
    </div>
</div>
