@model Presentation.Areas.Admin.Models.BookingViewModel
    @{
        ViewData["Title"] = "Thêm booking mới";
    }

    <div class="page-header">
        <h3 class="fw-bold mb-3">Đặt Tour</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a asp-area="Admin"
                    asp-controller="Home"
                   asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" 
                asp-controller="Booking"
                   asp-action="Index">
                    Bookings
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item active">
                Create
            </li>
        
        </ul>
    </div>

    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CustomerID"></label>
        <select asp-for="CustomerID" class="form-select" asp-items="ViewBag.ListCustomer" required>
                <option value="">-- Chọn Customer --</option>
                </select>
            <span asp-validation-for="CustomerID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TourID"></label>
            <select asp-for="TourID" class="form-select" asp-items="ViewBag.ListTour" required>
                <option value="">-- Chọn Tour --</option>
            
            </select>
            <span asp-validation-for="TourID" class="text-danger"></span>
        </div>


        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label asp-for="Adult"></label>
                    <input asp-for="Adult" type="number" class="form-control" id="Adult" name="Adult" min="0" placeholder="Nhập số lượng người lớn" Required>
                    <span asp-validation-for="Adult" class="text-danger"></span>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label asp-for="Child"></label>
                    <input asp-for="Child" type="number" class="form-control" id="Child" name="Child" min="0" placeholder="Nhập số lượng trẻ em" Required>
                    <span asp-validation-for="Child" class="text-danger"></span>
                </div>
            </div>
        </div>
    

    

        <button type="submit" class="btn btn-primary">Lưu</button>
        <a asp-area="Admin" asp-controller="Booking" asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
