@model Presentation.Areas.Admin.Models.BookingViewModel
@{
    ViewData["Title"] = "Chỉnh sửa thông tin booking";
}

<div class="page-header">
    <h3 class="fw-bold mb-3">Sửa Thông Tin Đặt Tour</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a asp-area="Admin"
                asp-controller="Home"
               asp-action="Index">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a asp-area="Admin"
            asp-controller="Booking"
               asp-action="Index">
                Bookings
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <p class="text-secondary">id: @Model.BookingID</p>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item active">
            Update
        </li>
        
    </ul>
</div>

<form asp-action="Update" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="CustomerID" type="hidden" class="form-control" id="CustomerID" name="CustomerID" value="@Model.CustomerID">
    <input asp-for="TourID" type="hidden" class="form-control" id="TourID" name="TourID" value="@Model.TourID">

    <div class="row">
        <div class="col col-md-6">
            <div class="form-group">
                <label asp-for="Adult"></label>
                <input asp-for="Adult" type="number" class="form-control" id="Adult" name="Adult" min="0" placeholder="Nhập số lượng người lớn" Required>
                <span asp-validation-for="Adult" class="text-danger"></span>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="form-group">
                <label asp-for="Child"></label>
                <input asp-for="Child" type="number" class="form-control" id="Child" name="Child" min="0" placeholder="Nhập số lượng trẻ em" Required>
                <span asp-validation-for="Child" class="text-danger"></span>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-area="Admin"  asp-controller="Booking" asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
