@{
    ViewData["Title"] = "Home Page";
}

<!-- choose section start -->
<div class="choose_section layout_padding">
    <div class="container">
        <h1 class="choose_taital">Tại Sao Chọn Chúng Tôi?</h1>
        <p class="choose_text">
            Chúng tôi mang đến trải nghiệm du lịch trọn vẹn với đa dạng tour, quy trình đặt tour dễ dàng và dịch vụ tận tâm. Dù bạn yêu thích phiêu lưu, thư giãn hay khám phá văn hóa, chúng tôi luôn có lựa chọn phù hợp. Đồng hành cùng chúng tôi để có chuyến đi đáng nhớ!
        </p>
        <div class="read_bt_1"><a asp-action="About" asp-controller="Home">Về chúng Tôi</a></div>
        <div class="newsletter_box">
            <h1 class="let_text">Hãy Cùng Bắt Đầu Hành Trình</h1>
            <div class="getquote_bt"><a asp-action="Index" asp-controller="Tour">Đặt Tour Ngay</a></div>
        </div>
    </div>
</div>

<!-- choose section end -->
