@model Application.DTOs.PaymentDTOs.PaymentUpdateDto

@{
    ViewData["Title"] = "Chỉnh sửa thông tin thanh toán";
}

<div class="page-header">
    <h3 class="fw-bold mb-3">Sửa Thông Tin Thanh Toán</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a asp-area="Admin"
            asp-controller="HomeController"
               asp-action="Index">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a asp-area="Admin"
            asp-controller="Payment"
               asp-action="Index">
                Payments
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <p class="text-secondary">id: @Model.PaymentID</p>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item active">
            Update
        </li>
        
    </ul>
</div>

<form asp-action="Update" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="PaymentID" type="hidden" class="form-control" id="PaymentID" name="PaymentID" value="@Model.PaymentID">
    <input asp-for="BookingID" type="hidden" class="form-control" id="BookingID" name="BookingID" value="@Model.BookingID">

    <div class="form-group">
        <label asp-for="Total"></label>
        <input asp-for="Total" class="form-control" type="decimal" readonly/>
        <span asp-validation-for="Method" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Method"></label>
        <select asp-for="Method" type="text" class="form-select" id="Method" name="Method" Required>
            <option value="" selected disabled>-- Chọn phương thức thanh toán --</option>
            <option value="Thẻ ví">Thẻ ví</option>
            <option value="Tiền mặt">Tiền mặt</option>
        </select>

        <span asp-validation-for="Method" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Status"></label>
        <select asp-for="Status" type="text" class="form-select" id="Status" name="Status" Required>
            <option value="" selected disabled>-- Chọn phương thức thanh toán --</option>
            <option value="false">Chưa thanh toán</option>
            <option value="true">Đã thanh toán</option>
        </select>

        <span asp-validation-for="Method" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-area="Admin" asp-controller="Payment" asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
