@model Application.DTOs.FeedbackDTOs.FeedbackUpdateDto

@{
    ViewData["Title"] = "Chỉnh sửa đánh giá";
}

<div class="page-header">
    <h3 class="fw-bold mb-3">Sửa Thông Tin Đánh Giá</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a asp-area="Admin"
               asp-controller="Home"
               asp-action="Index">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" 
            asp-controller="Feedback"
               asp-action="Index">
                Feedbacks
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <p class="text-secondary">id: @Model.FeedbackID</p>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item active">
            Update
        </li>
        
    </ul>
</div>

<form asp-action="Update" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="FeedbackID" type="hidden" class="form-control" value="@Model.FeedbackID">
    <input asp-for="TourID" type="hidden" value="@Model.TourID"/>
    <div class="form-group">
        <label asp-for="Rating"></label>
        <input asp-for="Rating" type="number" class="form-control" id="Rating" name="Rating" >
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Comments"></label>
        <textarea asp-for="Comments" type="text" class="form-control" id="Comments" name="Comments"></textarea>
        <span asp-validation-for="Comments" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-area="Admin" asp-controller="Feedback" asp-action="Index" asp-route-TourID="@Model.TourID" class="btn btn-secondary">Hủy</a>
</form>
