@{
    ViewData["Title"] = "Home Page";
    Layout = "_ecomLayout";
}

<div class="services_section layout_padding">
    <div class="container">
        <h1 class="services_taital">Dịch Vụ</h1>
        <p class="services_text">
            Chúng tôi cung cấp nhiều lựa chọn du lịch hấp dẫn, mang đến trải nghiệm tuyệt vời cho mọi hành trình.
        </p>
        <div class="services_section_2">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="~/assetsUser/images/img-2.png" class="services_img">
                    <button class="btn btn-secondary disabled mt-3" aria-disabled="true">Chèo Thuyền (Sắp Ra Mắt)</button>
                </div>
                <div class="col-md-4 text-center">
                    <img src="~/assetsUser/images/img-1.png" class="services_img">
                    <a asp-action="Index" asp-controller="Tour" class="btn btn-primary mt-3">Tham Quan</a>
                </div>
                <div class="col-md-4 text-center">
                    <img src="~/assetsUser/images/img-3.png" class="services_img">
                    <button class="btn btn-secondary disabled mt-3" aria-disabled="true">Cắm Trại (Sắp Ra Mắt)</button>
                </div>
            </div>
        </div>
    </div>
</div>



